# MQTT Password File
# 
# This is an EXAMPLE file. To create the actual password file:
#
# Option 1: Use Docker to generate passwords
#   docker run -it --rm -v ${PWD}/mosquitto:/mosquitto/config eclipse-mosquitto mosquitto_passwd -c /mosquitto/config/password.txt mqtt_user
#
# Option 2: If mosquitto_passwd is installed locally
#   mosquitto_passwd -c mosquitto/password.txt mqtt_user
#
# Then rename this guidance file or delete it.
#
# The password.txt file format is: username:hashed_password
# Example (DO NOT USE - this is just to show format):
# mqtt_user:$7$101$abc123...hashed_password_here


